.featuredCard {
    margin: 15px 0;
    text-align: center;
    border: 1px solid #bbbcbda6;
    overflow: hidden;
}
.featuredCard img {
    height: 250px;
    transition: all .2s ease-in-out;
}
.featuredCard img:hover {
    transform: scale(1.2);
}
.featuredCard img:hover h5 {
    margin-top: 30px !important;
}
.featuredCard h5 {
    font-size: 25px;
}
.featuredCard ul li {
    display: inline-block;
    list-style: none;
    border-right: 1px solid #ddd;
    padding: 5px 8px;
}
.featuredCard ul li:last-child {border: 0;}
.featuredCard ul {
    padding: 0;
    margin-bottom: 0;
}