.section__whyus {
    background: linear-gradient(#25283D, #0E0E13);
    margin-bottom: 0;
}
.section__whyus i {
    font-size: 35px;
    color: #0008ff;
}
.aboutCard {
    padding: 20px;
}
.aboutCard h4 {
    font-family: 'Goldman', cursive;
    font-size: 28px;
}