@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
section {
    margin-bottom: 50px;
}
.section__header__primary {
    font-family: 'Goldman', cursive;
    color: #3367D6;
}
.section__header__secondary {
    color: #6C757D;
}
a {
    text-decoration: none;
    color: #3367D6;
}
table {width: 100%;}
td, th {padding: 10px;}
th {background-color: rgba(221, 221, 221, 0.363);}